.socialLink {
  display: flex;
  align-items: center;
  flex: 1;
}

.socialLinkContainer {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between icon and text */
  padding: 10px;
  
}

.socialLinkContainer:hover {
  background-color: #f1f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.socialIcon {
  width: 30px; /* Set a fixed size for icons */
  height: 30px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.socialIcon:hover {
  transform: scale(1.1); /* Slight zoom effect when hovered */
}

.socialText {
  display: flex;
  flex-direction: column;
}

.socialLabel {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  text-transform: capitalize;
}

.socialLink {
  display: flex;
  align-items: center;
  flex: 1;
}

@media (max-width: 600px) {
  .socialLinkContainer {
    padding: 8px;
    gap: 10px;
  }
  .socialLabel {
    font-size: 0.9rem;
  }
}
